/* ---------------------------------------------------------------------------------------------
                                    Hero Section
-----------------------------------------------------------------------------------------------*/

.hero {
    position: relative;
    height: 200px;
    margin-top: 100px;
    background-image: url('https://live.staticflickr.com/7896/47415884702_b7875918a6_b.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: turquoise;
  }
  
  .hero h1 {
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
  
  /* ---------------------------------------------------------------------------------------------
                                      Intro Section
  -----------------------------------------------------------------------------------------------*/
  
  .intro {
    padding: 50px 0;
    background-color: #fff;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .intro h2 {
    font-size: 32px;
    font-weight: bold;
    color: #16151b;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .intro p {
    font-size: 18px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 40px;
    padding: 20px;
    margin: 20px;
  }
  
  .intro-image {
    flex: 1;
    margin-left: 40px;
  }
  
  .intro-image img {
    width: 100%;
    border-radius: 8px;
  }
  
  .aboutimg {
    height: 512px; 
    width: 342px;
    padding: 20px;
  }
  
  /* ---------------------------------------------------------------------------------------------
                                      Values Section
  -----------------------------------------------------------------------------------------------*/
  
  .values {
    padding: 50px 0;
    background-color: #f6f6f6;
  }
  
  .values h2 {
    font-size: 32px;
    font-weight: bold;
    color: #16151b;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .values-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .value {
    flex: 1;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }
  
  .value:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .value img {
    width: 400px;
    height: 300px;
    margin-bottom: 20px;
  }
  
  .value h3 {
    font-size: 24px;
    font-weight: bold;
    color: #16151b;
    margin-bottom: 20px;
  }
  
  .value p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 0;
  }