/* ---------------------------------------------------------------------------------------------
                                      Reset and Global Styles
-----------------------------------------------------------------------------------------------*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/* ---------------------------------------------------------------------------------------------
                                      Navbar
-----------------------------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Oswald:500');

.thx {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  text-align: center;
  z-index: 1;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: white;
  }

.links-container {
  text-align: right;
}

nav a {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #16151b;
  margin: 0 15px;
  padding: 20px;
  font-size: 16px;
  letter-spacing: 1px;
  position: relative;
  display: inline-block;
}

nav a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: #16151b;
  top: 47%;
  animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

nav a:hover:before {
  animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

.crownimg {
  height: 50px;
  width: 50px;
}

@keyframes in {
  0% {
    width: 0;
    left: 0;
    right: auto;
  }
  100% {
    left: 0;
    right: auto;
    width: 100%;
  }
}

@keyframes out {
  0% {
    width: 100%;
    left: auto;
    right: 0;
  }
  100% {
    width: 0;
    left: auto;
    right: 0;
  }
}

@media only screen and (min-width: 768px) {
  .crownimg {
    height: 100px;
    width: 100px;
  }

  .navbar-container {
    padding: 20px 40px;
  }

  .links-container {
    text-align: right;
  }
}


section {
    padding: 50px 0;
}

/* ---------------------------------------------------------------------------------------------
                                      Meet the team
-----------------------------------------------------------------------------------------------*/


#team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 130px;
    font-size: larger;
  }
  
  .card {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:100px;
    margin-bottom: 30px;
    margin-right:200px;
    margin-left:200px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .info {
    text-align: center;
  }
  
  .info h3 {
    margin-top: 0;
  }
  
  .info p {
    margin-bottom: 0;
  }
  
  .quote {
    font-style: italic;
  }
 
  
  
/* ---------------------------------------------------------------------------------------------
                                      Why us
-----------------------------------------------------------------------------------------------*/



#why-us {
    background-color: #f9f9f9;
    padding: 50px 20px;
    text-align: center;
  }
  
  #why-us p {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.5;
  }
  
  .img-container {
    display: flex;
    justify-content: center;
  }
  
  .img-container img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    padding: 30px;
    margin:50px;
  }
  


/* ---------------------------------------------------------------------------------------------
                                      Footer
-----------------------------------------------------------------------------------------------*/




footer {
    background-color: grey;
    color: #fff;
    padding: 50px;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 14px;
}

#socialimg {
    height:50px;
    width: 50px;
    margin:10px;
}

