/* ---------------------------------------------------------------------------------------------
                                      Banner & Sections
-----------------------------------------------------------------------------------------------*/

.banner {
    height: 400px;
    background: url('https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/charlotte-silhouette-skyline-afrio-adistira.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    margin-top: 150px;
}

.welcome-box {
    background-color: rgba(0, 0, 0, 0.6);
    color: #f2f2f2;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    padding: 20px;
}

.welcome-box h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 20px;
}


section {
    padding: 50px 0;
}

.split {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.split-text {
  padding: 10px;
}

.split-text h2 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
  font-family: 'Oswald', sans-serif;
}

.split-text p {
  font-size: 18px;
  line-height: 1.5;
}




.homeimg {
    height: 400px;
    width: 600px;
    margin: 30px;
}
